body {
    font-family: Arial, sans-serif;
    background-image: url(/Billeterie/IMAGE/pexels-photo-2.webp);
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
    width: 100%;
    /*height: calc(150vh - 200px);*/
    /*display: flex;*/
    align-items: flex-end;
    /*justify-content: center;*/
    /*padding: 20px;*/
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.15);
    /* Couleur de fond avec opacité */
    border-radius: 10px;
    /* Rayon des coins */
    backdrop-filter: blur(10px);
    /* Flou de l'arrière-plan */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    /* Ombre douce */
    border: 1px solid rgba(255, 255, 255, 0.18);
    /* Bordure */
    opacity: 0.9;
    /* Opacité globale */

}

h1,
h2 {
    color: #333;
    text-align: center;
}

.choix {
    display: flex;
    justify-content: center;
    align-items: center;

}

.category,
.block{
    text-align: center;
    background: rgba(255, 255, 255, 0.15);
    /* Couleur de fond avec opacité */
    border-radius: 10px;
    /* Rayon des coins */
    backdrop-filter: blur(10px);
    /* Flou de l'arrière-plan */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    /* Ombre douce */
    border: 1px solid rgba(255, 255, 255, 0.18);
    /* Bordure */
    opacity: 0.9;
    /* Opacité globale */
}

select, option {
    width: 40%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f9f9f9;
}


button {
    text-align: center;
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button a {
    color: #fff;
    text-decoration: none;
}

button:hover {
    background-color: #0056b3;
}

.img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.pace {
    text-align: center;
    margin-bottom: 20px;
}